body {
  background-color: #000000;
}

#window {
  width: 60%;
  height: 100%;
  background-color: #FFFFFF;
  margin: auto;
  border-radius: 5px;
  
}

#results{
  background-color: #000000;
  
}

#nav {
  text-align: center;
  width: 100%;
}



#nav p {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid red;
  width: 45%;
  font-size: 1.25vw;
}

#nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#video{
  border-radius: 20px 0px 0px 20px;
}

#article{
  border-radius: 0px 20px 20px 0px;
}

.selected {
  background-color: red;
  color: #FFFFFF;
}

li {
  border-bottom: 1px dashed #999;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #000000;
}

#articles {
  border: 2px solid green;
}

img {
  display: none;
  width: 90%;
  margin: auto;
  //background-color: black;
  border: 5px solid white;
}

li {
  
}

li:hover{
  cursor: default;
}

#results li div:hover{
  background-color: #eaecef;
}

#results li{
  counter-increment: step-counter;
}

#results li div{
  background-color: #FFFFFF;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
}

a {
  display: none;
}

a span {
  position: absolute;
  margin: 18%;
  font-weight: bold;
  background-color: red;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  font-size: 4vw;
}

#results li div::before {
    content: counter(step-counter, decimal-leading-zero);
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    padding: 3px 4px;
    border-radius: 10px;
    float: left;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 1vw;
}

div span {
  display: block;
}

li div span:nth-child(1){
  font-size: 1.25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}

div span:nth-child(2){
  font-size: 1.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div span:nth-child(3){
  font-size: 1.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.75;
  width: 80%;
}